<section class="flex flex-col justify-center items-center -mt-4">
  <div class="flex justify-center items-center text-center ">
    <div class="h-fit w-full">
      <div class="flex flex-col gap-y-6 items-center justify-center text-center font-hepta text-heading2-normal">
        <div class="div_form_input">
          <input type="email" [(ngModel)]="email" (ngModelChange)="onEmailChange()" class="form_input"
                 placeholder="Enter your email"/>
        </div>
        <div class="div_form_input">
          <input type="password" [(ngModel)]="password" (ngModelChange)="onPasswordChange()" class="form_input"
                 placeholder="Enter your password"/>
        </div>
        <div *ngIf="showSubmitButton" class="div_form_input">
          <button class="form_button">Gain Access to domains</button>
        </div>
        <div class="div_form_input">
          <div class="form_div_link">
            <span>Never been here? <a [routerLink]="['/sign-up']" class="form_link">Sign up</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
